body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    /* Optional background color */
}

h1 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    /* White text */
}

div {
    text-align: center;
}

.input-field {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    padding: 10px;
    width: 600px;
    border-radius: 0px;
    border: 0px solid #ccc;
    background-color: rgb(236, 236, 236);
    color: #000000;
    outline: none;
    font-size: 1rem;
}

.shorten-button {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 40px;
    padding: 10px 20px;
    border: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: #ffffff;
    background-color: #000000;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.shorten-button:hover {
    transform: scale(1);
    color: #9dff00;
    background-color: #ff00f2;
    border-color: #9dff00;
    border: 1px;
    border-style: dotted;
    border-radius: 0px;
}

.shorten-button:active {
    color: rgb(255, 0, 200);
    background-color: #9dff00;
    transform: scale(1.05);
    border-color: #9dff00;
    border: 1px;
    border-style:dashed;
    border-radius: 0px;
    ;
}


/* Band container */
.moving-band {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 60px;
    background-color: #000000;
    overflow: hidden;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 62px;
    color: #888;
}

/* Band container */
.moving-band-top {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 60px;
    background-color: #000000;
    overflow: hidden;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 62px;
    color: #888;
}

/* Band content */
.moving-band span {
    display: inline-block;
    white-space: nowrap;
    font-size: 5.5rem;
    color: #242424;
    animation: move-left 500s linear infinite;
}

/* Selection styling */
::selection {
    color: #9dff00;
    background: #ff00f2;
}

/* Animation */
@keyframes move-left {
    0% {
        transform: translateX(0);
        /* Start fully visible */
    }

    100% {
        transform: translateX(-100%);
        /* Move completely out of view to the left */
    }
}

/* Band content */
.moving-band-top span {
    display: inline-block;
    white-space: nowrap;
    font-size: 5.5rem;
    color: #242424;
    animation: move-left 500s linear infinite;