html {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background: #000000;
    overflow: hidden;
    touch-action: none;
}

h1 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    /* White text */
}

div {
    text-align: center;
}

.input-field {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-top: 40px;
    width: 600px;
    margin: 0 auto;
    text-align: left;
    border-radius: 0px;
    border: 0px solid #ccc;
    background-color: rgb(236, 236, 236);
    color: #000000;
    outline: none;
    font-size: 1rem;
}

.shorten-button {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 40px;
    padding: 10px 20px;
    border: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: #ffffff;
    background-color: #000000;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.shorten-button:hover {
    transform: scale(1);
    color: #9dff00;
    background-color: #ff00f2;
    border-color: #9dff00;
    border: 1px;
    border-style: dotted;
    border-radius: 0px;
}

.shorten-button:active {
    color: rgb(255, 0, 200);
    background-color: #9dff00;
    transform: scale(1.05);
    border-color: #9dff00;
    border: 1px;
    border-style: dashed;
    border-radius: 0px;
    ;
}


::selection {
    color: #9dff00;
    background: #ff00f2;
}

@media (max-width: 500px) {
    h1 {
        white-space: normal;
        width: 100vw;
        margin: 0 auto;
        /* Center the h1 element */
        text-align: center;
        /* Optional: Center-align text for better appearance */
    }
}


@media (max-width: 500px) {
    .input-field {
        white-space: normal;
        width: 75vw;
        margin-top: 5%;
        text-align: center;
    }
}

.band-top {
    display: flex;
    min-height: 1em;
    background: #000000;
    color: #525252;
    padding: 2px;
    line-height: 1.4;
    text-align: center;
    transform: translateZ(0);
    cursor: default;
    font-size: 100px;
    font-family: "Roboto", Helvetica;
    position: absolute;
    top: 0;
    left: 110%;
    overflow: hidden;
    animation: scroll 60s linear 1s infinite;
}

.band-bottom {
    display: flex;
    min-height: 1em;
    background: #000000;
    color: #525252;
    padding: 2px;
    line-height: 1.4;
    text-align: center;
    transform: translateZ(0);
    cursor: default;
    font-size: 100px;
    font-family: "Roboto", Helvetica;
    position: absolute;
    bottom: 0;
    left: 110%;
    overflow: hidden;
    animation: scroll 60s linear 1s infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-160%);
    }
}