.xxxbandarole-top {
    display: flex;
    min-height: 1em;
    background: #171E2E;
    color: #FFF;
    padding: 2px;
    line-height: 1.4;
    text-align: center;
    transform: translateZ(0);
    cursor: pointer;
    font-size: 20px;
    font-family: "Roboto", Helvetica;
    animation-play-state: paused;
    position: absolute;
    top: 0;
    left: 110%;
    overflow: hidden;
    animation: scroll 30s linear 1s infinite;
}

.xxxbandarole-bottom {
    display: flex;
    min-height: 1em;
    background: #171E2E;
    color: #FFF;
    padding: 2px;
    line-height: 1.4;
    text-align: center;
    transform: translateZ(0);
    cursor: pointer;
    font-size: 20px;
    font-family: "Roboto", Helvetica;
    animation-play-state: paused;
    position: absolute;
    top: 0;
    left: 110%;
    overflow: hidden;
    animation: scroll 30s linear 1s infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-160%);
    }
}